<app-header></app-header>
<h3 class="mechanical">Mechanical Engineering</h3>
<div class="parrent">
  <div><app-side-bar></app-side-bar></div>
  <div class="containt">
    <h3 class="header1">Infrastructure</h3>
    <div class="infrastructure">
      <h2>INFRASTRUCTURE</h2>
      <ng-container class="main1">
        <h5>
          <div class="main2">
            <div class="texts">
              <h5>Mechanical Classrooms
              </h5>
              <h6>Well-equipped AC class rooms with
                hanging LCD projectors, smart boards, audio system and Internet facilities.</h6>
            </div>
            <div class="images Classrooms">
              <img src="https://www.kiet.edu/uploads/infra/222229395.jpg" alt="">
            </div>
          </div>
        </h5>
      </ng-container>
      <hr>
      <ng-container>
        <div class="main2">
          <div class="textsLab">
            <h5>Auto Cad LAB 1 & 2
            </h5>
            <h6>The Lab is equipped with 80 latest Computers.</h6>
          </div>
          <div class="images lab">
            <img src="https://www.kiet.edu/uploads/infra/8759536.JPG" alt="">
          </div>
        </div>
      </ng-container>
      <hr>
      <ng-container>
        <div class="main2">
          <div class="textsLab">
            <h5>Mechanical Engineering Innovation Lab</h5>
            <h6>Established to advance research and development, our Mechanical Engineering Innovation Lab is equipped
              with cutting-edge tools and machinery. Facilities include 3D printers, CNC machines, a wind tunnel,
              material testing equipment, and CAD/CAM software. The lab collaborates with industries and research
              institutions, offering students hands-on experience with real-world projects, preparing them for
              successful careers in mechanical engineering.</h6>
          </div>
          <div class="images">
            <img src="https://www.kiet.edu/uploads/infra/85297545.JPG" alt="">
          </div>
        </div>
      </ng-container>

    </div>

  </div>
</div>



<app-footer></app-footer>