<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted border">
  <!-- Section: Social media -->
  <section class="section-social-media d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
    <!-- Left -->
    <div class="me-5 d-none d-lg-block">
      <span>Get connected with us on social networks:</span>
    </div>
    <!-- Left -->

    <!-- Right -->
    <div>
      <a href="" class="social-icon">
        <i class="fab fa-facebook"></i>
      </a>
      <a href="" class="social-icon">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="" class="social-icon">
        <i class="fab fa-google"></i>
      </a>
      <a href="" class="social-icon">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="" class="social-icon">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="" class="social-icon">
        <i class="fab fa-github"></i>
      </a>
    </div>
    <!-- Right -->
  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section>
    <div class=" text-center text-md-start p-4">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div style="display: flex; justify-content: center; flex-direction: column; align-items: center;" class="col-lg-4 col-xl-3 mx-auto mb-4 border footer-column">
          <!-- Content -->
          <div class="d-flex flex-column justify-content-center align-items-center">
            <img style="height: 60px;" src="../assets/fav.png" alt="logo" class="mt-3 mx-auto d-block">
            <h4 class="footer-heading text-uppercase fw-bold mb-2">
              IET Dr.RMLAU
            </h4>
          </div>
          <span class="city">Ayodhya, Uttar Pradesh, (India)</span>
          <div class="d-flex flex-column justify-content-center align-items-center">
            <div>
              <span>
                <a class="nav-link hov footer-link" href="https://mail.google.com/mail/u/0/#inbox?compose=new" target="_blank">
                  <span><i class="fas fa-envelope"></i></span> contact@rmlau.ac.in</a>
              </span>
            </div>
            <div>
              <span>
                <a class="nav-link hov footer-link" href="https://www.rmlau.ac.in/new/index.aspx" target="_blank"><span><i class="fa-solid fa-earth-americas"></i></span> www.rmlau.ac.in</a>
              </span>
            </div>
          </div>
          <div>
            <p style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
              <span class="qurey">For any qurey please contact at:</span>
              <a class="nav-link hov ms-4 footer-link" href="https://mail.google.com/mail/u/0/#inbox?compose=new" target="_blank">
                <i class="fas fa-envelope"></i>helpline@rmlau.ac.in</a>
            </p>
          </div>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4 border p-4 footer-column">
          <!-- Links -->
          <h6 class="footer-heading text-uppercase fw-bold mb-2 fs-6">
            Links of Interest
          </h6>
          <p>
            <a href="http://rmlauentrance.in" target="_blank" class="footer-link"> rmlauentrance</a>
          </p>
          <p>
            <a href="https://aishe.nic.in/aishe/home" target="_blank" class="footer-link"> AISHE </a>
          </p>
          <p>
            <a href="http://epgp.inflibnet.ac.in/" target="_blank" class="footer-link"> e-PGPathshala </a>
          </p>
          <p>
            <a href="https://affiliation.rmlau.site/AffaliationRmlau/" target="_blank" class="footer-link"> Affiliation </a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4 border p-4 footer-column">
          <!-- Links -->
          <h6 class="footer-heading text-uppercase fw-bold mb-4 fs-6">
            Helplines
          </h6>
          <p>
            <a href="http://rmlauentrance.in" target="_blank" class="footer-link"> Anti Ragging</a>
          </p>
          <p>
            <a href="http://rmlauentrance.in" target="_blank" class="footer-link"> Women Grievance Cell</a>
          </p>
          <p>
            <a href="http://rmlauentrance.in" target="_blank" class="footer-link">Students Help-Desk for NAD</a>
          </p>
          <p>
            <a href="http://rmlauentrance.in" target="_blank" class="footer-link"> Sexual Harassment Complaint</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto p-4 mb-4 border footer-column">
          <!-- Links -->
          <h6 class="footer-heading text-uppercase fw-bold mb-4 fs-6">
            Links
          </h6>
          <p>
            <a href="http://rmlauentrance.in" target="_blank" class="footer-link"> Downloads</a>
          </p>
          <p>
            <a href="http://rmlauentrance.in" target="_blank" class="footer-link"> Proceedings</a>
          </p>
          <p>
            <a href="http://rmlauentrance.in" target="_blank" class="footer-link"> National Education Policy</a>
          </p>
          <p>
            <a href="http://rmlauentrance.in" target="_blank" class="footer-link"> Right to Information</a>
          </p>
        </div>
        <!-- Grid column -->
        <div class="map">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7125.0974505238!2d82.15212663596577!3d26.758773336883877!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x399a089a2722f76f%3A0x6266af519452cdb!2sI.E.T.%20Campus%2C%20Faizabad%2C%20Uttar%20Pradesh!5e0!3m2!1sen!2sin!4v1702844402395!5m2!1sen!2sin" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2023 Copyright:
    <a class="text-reset fw-bold" href="https://www.rmlau.ac.in/new/index.aspx" target="_blank">Rmlau Ayodhya</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
