<app-header></app-header>
<h3 class="mechanical">MECHANICAL ENGINEERING</h3>
<div class="parrent">
  <div><app-side-bar></app-side-bar></div>
  <div class="containt">
    <h3 class="header1">Mechanical Engineering</h3>
    <div class="allAbout">
      <div>
        <img src="./assets/arrow.gif" class="gif" alt="">
        <button style="padding: 10px; font-weight: 600;" class="btn btun" (click)="login()">User Login</button>
      </div>
      <br>
      <!-- <div>
        <img src="./assets/arrow.gif" class="gif" alt="">
        <button class="btn btun" (click)="Department()">Department Login</button>
      </div> -->
      <div>
        <img src="./assets/arrow.gif" class="gif" alt="">
        <button style="padding: 10px; font-weight: 600;" class="btn btun" (click)="result()">View Result</button>
      </div>
      <p>
        The field of Mechanical Engineering encompasses numerous aspects of design, analysis, and manufacturing. The
        impact of technological advancements on human life is profound and widespread, particularly through the
        innovations brought forth by Mechanical Engineering. The Department of Mechanical Engineering is accredited by
        the NBA (National Board of Accreditation). Our department boasts highly skilled and experienced faculty members
        who are engaged in various research projects, pioneering new technologies. The department regularly conducts
        seminars and workshops on emerging topics. It aims to provide high-quality training to students using the latest
        advancements in Mechanical Engineering.
      </p>
      <img src="./assets/itHome.jpg" alt="">
    </div>
    <div class="career">
      <h6 style="font-size: 20px;">Career Opportunities after B. Tech. Mechanical Engineering-</h6>
      <ul>
        <li>Mechanical Design Engineer</li>
        <li>Manufacturing Engineer</li>
        <li>Automotive Engineer</li>
        <li>Aerospace Engineer</li>
        <li>Robotics Engineer</li>
        <li>Thermal Engineer</li>
        <li>Maintenance Engineer</li>
        <li>Project Manager</li>
        <li>Quality Control Engineer</li>
        <li>HVAC Engineer</li>
        <li>Research and Development Engineer</li>
        <li>Energy Engineer</li>
        <li>Marine Engineer</li>
        <li>Mechatronics Engineer</li>
        <li>Material Scientist</li>
        <li>Biomechanical Engineer</li>
        <li>Technical Sales Engineer</li>
        <li>Academics (Teaching/ Research/Training)</li>
        <li>Consulting Engineer</li>
        <li>Production Engineer</li>
      </ul>
    </div>
    <div class="expect">
      <h6 style="font-size: 20px;">What should you expect from a degree in Mechanical Engineering at IET?-</h6>
      <ul>
        <li>Become a skilled engineer with strong ethical values.</li>
        <li>Apply technical skills to solve societal problems.</li>
        <li>Build a career as a design engineer, manufacturing engineer, or researcher.</li>
        <li>Learn and apply project management concepts.</li>
        <li>Develop soft skills for effective communication and presentations.</li>
        <li>Campus placements at leading engineering companies.</li>
        <li>Learn the latest engineering tools and technologies from internationally certified faculty.</li>
        <li>Obtain certifications from recognized institutions like ASME, IEEE, and others.</li>
        <li>Opportunities for student exchange programs at top global universities.</li>
        <li>Participate in seminars, presentations, educational tours, expert lectures, internships, open electives,
          clubs, festivals, events, and more.</li>
        <li>In-house classes by well-qualified faculty for GATE, GRE, and other competitive exams.</li>
        <li>In addition to academics, we provide platforms to learn and get certified in foreign languages.</li>
      </ul>
    </div>
    <div class="slideShows">
      <div id="carouselExampleIndicators" class="carousel slide " data-bs-ride="true">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="https://www.rmlau.ac.in/PhotoGallery/Photo_5088_011223102851.jpeg" class="d-block w-100"
              alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://www.rmlau.ac.in/PhotoGallery/Photo_2949_011223102732.jpeg" class="d-block w-100"
              alt="...">
          </div>
          <div class="carousel-item">
            <img
              src="https://newstrack.com/h-upload/2022/11/22/1459937-ayodhya-news-vice-chancellor-prof-pratibha-goyal-rmlau.jpg"
              class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>

  </div>
</div>
<div style="background-color: rgb(250, 212, 141); color: black;height: 400px;" class="view">
  <h5 style="font-size: 20px; font-weight: bold; background-color: rgb(250, 212, 141); color: black;" class="hintake htag">B.Tech in Mechanical Engineering</h5>
  <p >4 year Full Time Course</p>
  <h6>INTAKE</h6>
  <h5 style="background-color: rgb(250, 212, 141);color: black;" class="hintake">75+</h5>
  <button class="buttn">View More</button>
</div>

<div class="faculty">
  <div class="container">
    <h2 style="padding: 10px;">FACULTY</h2>
    <ul class="cards">
      <li class="card" style="width: 18rem;">
        <img style="height: 18rem;" src="../assets/HOD.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <div class="card-text">
            <h3 style="font-weight: bold;">Dr. Dinesh Kumar Rao</h3>
            <h6 style="font-weight: 350;" >Head of department of Mechanical Engineering</h6>
            <h3 style="font-weight: bold;">Specialization</h3>
            <h6 style="font-weight: 350;">Design & Production Engineering</h6>
          </div>
        </div>
      </li>
    
      <li class="card" style="width: 18rem;">
        <img style="height: 18rem;" src="../assets/Mayank.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <div class="card-text">
            <h3 style="font-weight: bold;">Dr. Mayank Agarwal</h3>
            <h6 style="font-weight: 350;">Assistant Professor</h6>
            <h3 style="font-weight: bold;">Specialization</h3>
            <h6 style="font-weight: 350;">Mechanical Engineering</h6>
          </div>
        </div>
      </li>
    
      <li class="card" style="width: 18rem;">
        <img style="height: 18rem;" src="../assets/Umeshchandraverma.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <div class="card-text">
            <h3 style="font-weight: bold;">Er. Umesh Chandra Verma</h3>
            <h6 style="font-weight: 350;">Assistant Professor</h6>
            <h3 style="font-weight: bold;">Specialization</h3>
            <h6 style="font-weight: 350;">Mechanical Engineering</h6>
          </div>
        </div>
      </li>
    
      <li class="card" style="width: 18rem;">
        <img style="height: 18rem;" src="../assets/Sunilsahai.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <div class="card-text">
            <h3 style="font-weight: bold;">Er. Sunil Sahai</h3>
            <h6 style="font-weight: 350;">Assistant Professor</h6>
            <h3 style="font-weight: bold;">Specialization</h3>
            <h6 style="font-weight: 350;">Mechanical Engineering</h6>
          </div>
        </div>
      </li>
    
      <li class="card" style="width: 18rem;">
        <img style="height: 18rem;" src="../assets/Niteshkumardixit.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <div class="card-text">
            <h3 style="font-weight: bold;">Dr. Nitesh Kumar Dixit</h3>
            <h6 style="font-weight: 350;">Assistant Professor</h6>
            <h3 style="font-weight: bold;">Specialization</h3>
            <h6 style="font-weight: 350;">Mechanical Engineering</h6>
          </div>
        </div>
      </li>
    
      <li class="card" style="width: 18rem;">
        <img style="height: 18rem;" src="../assets/Anuragsingh.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <div class="card-text">
            <h3 style="font-weight: bold;">Er. Anurag Singh</h3>
            <h6 style="font-weight: 350;">Assistant Professor</h6>
            <h3 style="font-weight: bold;">Specialization</h3>
            <h6 style="font-weight: 350;">Mechanical Engineering</h6>
          </div>
        </div>
      </li>
    
      <li class="card" style="width: 18rem;">
        <img style="height: 18rem;" src="../assets/Dibyatripathi.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <div class="card-text">
            <h3 style="font-weight: bold;">Er. Divya Tripathi</h3>
            <h6 style="font-weight: 350;">Assistant Professor</h6>
            <h3 style="font-weight: bold;">Specialization</h3>
            <h6 style="font-weight: 350;">Mechanical Engineering</h6>
          </div>
        </div>
      </li>
    
      <li class="card" style="width: 18rem;">
        <img style="height: 18rem;" src="../assets/Sunilprabhakar.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <div class="card-text">
            <h3 style="font-weight: bold;">Er. Sunil Prabhakar</h3>
            <h6 style="font-weight: 350;">Assistant Professor</h6>
            <h3 style="font-weight: bold;">Specialization</h3>
            <h6 style="font-weight: 350;">Mechanical Engineering</h6>
          </div>
        </div>
      </li>
    
      <li class="card" style="width: 18rem;">
        <img style="height: 18rem;" src="../assets/Kritisrivastava.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <div class="card-text">
            <h3 style="font-weight: bold;">Er. Kriti Srivastava</h3>
            <h6 style="font-weight: 350;">Assistant Professor</h6>
            <h3 style="font-weight: bold;">Specialization</h3>
            <h6 style="font-weight: 350;">Mechanical Engineering</h6>
          </div>
        </div>
      </li>
    
      <li class="card" style="width: 18rem;">
        <img style="height: 18rem;" src="../assets/Deepakagraval.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <div class="card-text">
            <h3 style="font-weight: bold;">Er. Deepak Agrawal</h3>
            <h6 style="font-weight: 350;">Assistant Professor</h6>
            <h3 style="font-weight: bold;">Specialization</h3>
            <h6 style="font-weight: 350;">Mechanical Engineering</h6>
          </div>
        </div>
      </li>
    
      <li class="card" style="width: 18rem;">
        <img style="height: 18rem;" src="../assets/Shwetamishra.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <div class="card-text">
            <h3 style="font-weight: bold;">Er. Shweta Mishra</h3>
            <h6 style="font-weight: 350;">Assistant Professor</h6>
            <h3 style="font-weight: bold;">Specialization</h3>
            <h6 style="font-weight: 350;">Mechanical Engineering</h6>
          </div>
        </div>
      </li>
    
      <li class="card" style="width: 18rem;">
        <img style="height: 18rem;" src="../assets/Chandrakantkaithwas.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <div class="card-text">
            <h3 style="font-weight: bold;">Dr. Chandra Kant Kaithwas</h3>
            <h6 style="font-weight: 350;">Assistant Professor</h6>
            <h3 style="font-weight: bold;">Specialization</h3>
            <h6 style="font-weight: 350;">Mechanical Engineering</h6>
          </div>
        </div>
      </li>
    </ul>
    
  </div>

</div>

<div class="infrastructure">
  <h2 class="text-light">INFRASTRUCTURE</h2>
  <ng-container *ngIf="val1 == true" class="main1">
    <h5>
      <div class="main2">
        <div class="texts">
          <h5>Mechanical Classrooms
          </h5>
          <h6>Well-equipped AC class rooms with
            hanging LCD projectors, smart boards, audio system and Internet facilities.</h6>
        </div>
        <div class="images">
          <img src="https://www.kiet.edu/uploads/infra/222229395.jpg" alt="">
        </div>
      </div>
    </h5>
  </ng-container>
  <ng-container *ngIf="val2==true">
    <div class="main2">
      <div class="textsLab">
        <h5>Auto Cad LAB 1 & 2
        </h5>
        <h6>The Lab is equipped with 80 latest Computers.</h6>
      </div>
      <div class="images lab">
        <img src="https://www.kiet.edu/uploads/infra/8759536.JPG" alt="">
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="val3==true">
    <div class="main2">
      <div class="textsLab">
        <h5>Mechanical Engineering Centre of Excellence</h5>
        <h6>The Mechanical Engineering Centre of Excellence was established in collaboration with leading industry partners in January 2015. It is equipped with state-of-the-art facilities, including CNC machines, 3D printers, a wind tunnel, material testing equipment, and advanced CAD/CAM software. This centre aims to provide hands-on training and foster innovation in mechanical engineering through cutting-edge technology and industry-relevant projects.</h6>
      </div>
      <div class="images">
        <img src="https://www.kiet.edu/uploads/infra/85297545.JPG" alt="">
      </div>
    </div>
  </ng-container>
  <div class="buttons">
    <button class="butn" (click)="Class()">Class pic</button>
    <button class="butn" (click)="lab()">Lab pic</button>
    <button class="butn" (click)="Excilence()">Excilence</button>
  </div>
</div>

<!-- Testimonial Carousel area start -->

<div class="testimonials">
  <h2 style="padding: 10px;">TESTIMONIALS</h2>
  <div style="background-color: lightblue" class="butTest">
    <button style="background-color: transparent;" class="butn5" (click)="students()">STUDENT</button>
    <button style="background-color: transparent;" class="butn5" (click)="alumni()">ALUMNI</button>
    <button style="background-color: transparent;" class="butn5">RECRUITER</button>
    <button style="background-color: transparent;" class="butn5">PARENTS</button>
  </div>
  <hr>
  <ng-container *ngIf="student == true">


    <div id="carouselExampleControls" class="carousel slide " data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="main2">
            <div class="imagesTest">
              <img
                src="../assets/Dheeraj Image.jpg"
                alt="Dheeraj_Image">
            </div>
            <div  class="textTest">
              <p>
                IET has been a
                great contributor to the development of
                my personality. The institution organizes
                various workshops and guest lectures. It has
                given me immense opportunities to participate
                and organize different events, helping me to develop
                confidence and managerial skills. The teachers here
                are very helping and the
                institution not only focuses on classroom teachings
                but also provides the students
                with real-time problems and hands-on industry experience
                with project works. I am very thankful to the institution
                for giving students the freedom to think of an idea and
                test its practical application.
              </p>
              <p style="font-weight: 600;">Dheeraj Rauniyar , Mechanical Engineering
              <p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="main2">
            <div class="imagesTest">
              <img
                src="../assets/gulon.jpg"
                alt="">

              <!-- <img src="https://media.licdn.com/dms/image/C5103AQHagR7EJXj7Nw/profile-displayphoto-shrink_800_800/0/1571128420988?e=1715212800&v=beta&t=WHjjVBkJfcYZjN0R0rP01w7hAvMf2yvGOFr1gUz5SeM" alt=""> -->
            </div>
            <div class="textTest">
              <p>
                IET has been a
                great contributor to the development of
                my personality. The institution organizes
                various workshops and guest lectures. It has
                given me immense opportunities to participate
                and organize different events, helping me to develop
                confidence and managerial skills. The teachers here
                are very helping and the
                institution not only focuses on classroom teachings
                but also provides the students
                with real-time problems and hands-on industry experience
                with project works. I am very thankful to the institution
                for giving students the freedom to think of an idea and
                test its practical application.
              </p>
              <p style="font-weight: 600;">Gulson Kumar, Mechanical Engineering
              <p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="main2">
            <div class="imagesTest">
              <img
                src="../assets/rajpratap.jpg"
                alt="rajpratap">
            </div>
            <div class="textTest">
              <p>
                IET has been a
                great contributor to the development of
                my personality. The institution organizes
                various workshops and guest lectures. It has
                given me immense opportunities to participate
                and organize different events, helping me to develop
                confidence and managerial skills. The teachers here
                are very helping and the
                institution not only focuses on classroom teachings
                but also provides the students
                with real-time problems and hands-on industry experience
                with project works. I am very thankful to the institution
                for giving students the freedom to think of an idea and
                test its practical application.
              </p>
              <p style="font-weight: 600;">Raj Pratap, Mechanical Engineering
              <p>
            </div>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev " type="button" data-bs-target="#carouselExampleControls"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon carouselbtn" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next " type="button" data-bs-target="#carouselExampleControls"
        data-bs-slide="next">
        <span class="carousel-control-next-icon carouselbtn" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

  </ng-container>

  <ng-container *ngIf="alumnis == true">

    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="main2">
            <div class="imagesTest">
              <img
                src="https://media.licdn.com/dms/image/D5603AQFNAQmlCHLphw/profile-displayphoto-shrink_800_800/0/1679324681835?e=1715212800&v=beta&t=REJBKqU42Jr_iGwWiqShNQqZfKQ_-xKU5nfszrEpzps"
                alt="">
            </div>
            <div class="textTest">
              <p>
                IET has been a
                great contributor to the development of
                my personality. The institution organizes
                various workshops and guest lectures. It has
                given me immense opportunities to participate
                and organize different events, helping me to develop
                confidence and managerial skills. The teachers here
                are very helping and the
                institution not only focuses on classroom teachings
                but also provides the students
                with real-time problems and hands-on industry experience
                with project works. I am very thankful to the institution
                for giving students the freedom to think of an idea and
                test its practical application.
              </p>
              <p style="font-weight: 600;">Pradmun Sharma, Mechanical Engineering
              <p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="main2">
            <div class="imagesTest">
              <img
                src="../assets/Aditya Kumar.jpg"
                alt="">
            </div>
            <div class="textTest">
              <p>
                IET has been a
                great contributor to the development of
                my personality. The institution organizes
                various workshops and guest lectures. It has
                given me immense opportunities to participate
                and organize different events, helping me to develop
                confidence and managerial skills. The teachers here
                are very helping and the
                institution not only focuses on classroom teachings
                but also provides the students
                with real-time problems and hands-on industry experience
                with project works. I am very thankful to the institution
                for giving students the freedom to think of an idea and
                test its practical application.
              </p>
              <p style="font-weight: 600;">Aditya Kumar, Mechanical Engineering
              <p>
            </div>
          </div>
        </div>
        <div  class="carousel-item">
          <div  class="main2">
            <div class="imagesTest">
              <img
                src="../assets/Anupriya.jpg"
                alt="">
            </div>
            <div class="textTest">
              <p >
                IET has been a
                great contributor to the development of
                my personality. The institution organizes
                various workshops and guest lectures. It has
                given me immense opportunities to participate
                and organize different events, helping me to develop
                confidence and managerial skills. The teachers here
                are very helping and the
                institution not only focuses on classroom teachings
                but also provides the students
                with real-time problems and hands-on industry experience
                with project works. I am very thankful to the institution
                for giving students the freedom to think of an idea and
                test its practical application.
              </p>
              <p style="font-weight: 600;">Anupriya Yadav, Mechanical Engineering
              <p>
            </div>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev " type="button" data-bs-target="#carouselExampleControls"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon carouselbtn" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next " type="button" data-bs-target="#carouselExampleControls"
        data-bs-slide="next">
        <span class="carousel-control-next-icon carouselbtn" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

  </ng-container>
</div>

<!-- Testimonial Carousel Area End -->


<app-footer></app-footer>