<app-header></app-header>
<h3 class="mechanical">Mechanical Engineering</h3>
<div class="parrent">
  <div><app-side-bar></app-side-bar></div>
  <div class="containt">
    <h3 class="header1">Faculty & Staff</h3>
    <div class="line1">
      <div class="card" style="width: 20rem;">
        <img style="height: 13rem; width: 13rem;" src="../assets/HOD.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5>Dr. Dinesh Kumar Rao</h5>
          <h6>HOD, Assistant Professor</h6>
          <h5>Specialization</h5>
          <h6>Design & Production Engineering</h6>
          <h5>Research Area</h5>
          <h6>Fracture Mechanics, Bio-composite Materials</h6>
          <h5>Total Experience</h5>
          <h6>20 Years (Approx)</h6>
          <h5>Email Id.:</h5>
          <h6>erdinesh555@gmail.com</h6>
          <h5>Contact No.:</h5>
          <h6>7669241848, 9451938708</h6>
        </div>
      </div>
      <div class="card" style="width: 20rem;">
        <img style="height: 13rem; width: 13rem;" src="https://www.rmlau.ac.in/new/faculty/Mayank.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5>Dr. Mayank Agarwal</h5>
          <h6>Associate Professor</h6>
          <h5>Specialization</h5>
          <h6>Mechanical Engineering</h6>
          <h5>Research Area</h5>
          <h6>Materials Processing and Evaluation</h6>
          <h5>Total Experience</h5>
          <h6>10 Years</h6>
          <h5>Email:</h5>
          <h6>maaayank@gmail.com</h6>
          <h5>Mobile No.:</h5>
          <h6>8052188884</h6>
      </div>
      </div>
      <div class="card" style="width: 20rem;">
        <img style="height: 13rem; width: 13rem;" src="https://www.rmlau.ac.in/new/faculty/Umeshchandraverma.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5>Er. Umesh Chandra Verma</h5>
          <h6>Assistant Professor</h6>
          <h5>Specialization</h5>
          <h6>Mechanical Engineering</h6>
          <h5>Research Area</h5>
          <h6>Refrigeration and Air-Conditioning</h6>
          <h5>Total Experience</h5>
          <h6>17 years</h6>
          <h5>Email:</h5>
          <h6>ucv4635@gmail.com</h6>
          <h5>Mobile No.:</h5>
          <h6>9415596253</h6>
      </div>
      </div>
    </div>
    <hr>
    <div class="line2">
      <div class="card" style="width: 20rem;margin-right: 1rem;">
        <img style="height: 13rem; width: 13rem;" src="https://www.rmlau.ac.in/new/faculty/Sunilsahai.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5>Er. Sunil Sahai</h5>
          <h6>Assistant Professor</h6>
          <h5>Specialization</h5>
          <h6>Mechanical Engineering</h6>
          <h5>Research Area</h5>
          <h6>Design</h6>
          <h5>Total Experience</h5>
          <h6>.</h6>
          <h5>Email:</h5>
          <h6>.</h6>
          <h5>Mobile No.:</h5>
          <h6>9415046561</h6>
      </div>
      </div>
      <div class="card" style="width: 20rem;margin-right: 1rem;">
        <img style="height: 13rem; width: 13rem;" src="https://www.rmlau.ac.in/new/faculty/Niteshkumardixit.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5>Dr. Nitesh Kumar Dixit</h5>
          <h6>Assistant Professor</h6>
          <h5>Specialization</h5>
          <h6>Mechanical Engineering</h6>
          <h5>Research Area</h5>
          <h6>3-D Printing, Composite</h6>
          <h5>Total Experience</h5>
          <h6>.</h6>
          <h5>Email:</h5>
          <h6>.</h6>
          <h5>Mobile No.:</h5>
          <h6>8770974427</h6>
      </div>
      </div>
      <div class="card paritosh" style="width: 20rem;">
        <img style="height: 13rem; width: 13rem;" src="https://www.rmlau.ac.in/new/faculty/Anuragsingh.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5>Er. Anurag Singh</h5>
          <h6>Assistant Professor</h6>
          <h5>Specialization</h5>
          <h6>Mechanical Engineering</h6>
          <h5>Research Area</h5>
          <h6>Production, Manufacturing</h6>
          <h5>Total Experience</h5>
          <h6>8 years 8 months</h6>
          <h5>Email:</h5>
          <h6>anuragsingh@rmlau.ac.in</h6>
          <h5>Mobile No.:</h5>
          <h6>8005024044</h6>
      </div>
      </div>
    </div>
    <hr>
    <div class="line2">
      <div class="card" style="width: 20rem;">
        <img style="height: 13rem; width: 13rem;" src="https://www.rmlau.ac.in/new/faculty/Dibyatripathi.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5>Er. Divya Tripathi</h5>
          <h6>Assistant Professor</h6>
          <h5>Specialization</h5>
          <h6>Mechanical Engineering</h6>
          <h5>Research Area</h5>
          <h6>Thermal Engineering</h6>
          <h5>Total Experience</h5>
          <h6>.</h6>
          <h5>Email:</h5>
          <h6>.</h6>
          <h5>Mobile No.:</h5>
          <h6>9450101490</h6>
      </div>
      </div>
      <div class="card" style="width: 20rem;">
        <img style="height: 13rem; width: 13rem;" src="https://www.rmlau.ac.in/new/faculty/Sunilprabhakar.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5>Er. Sunil Prabhakar</h5>
            <h6>Assistant Professor</h6>
            <h5>Specialization</h5>
            <h6>Mechanical Engineering</h6>
            <h5>Research Area</h5>
            <h6>Thermal Engineering, I C Engines</h6>
            <h5>Total Experience</h5>
            <h6>.</h6>
            <h5>Email:</h5>
            <h6>.</h6>
            <h5>Mobile No.:</h5>
            <h6>7618964870</h6>
        </div>
    </div>
    <div class="card" style="width: 20rem;">
      <img style="height: 13rem; width: 13rem;" src="https://www.rmlau.ac.in/new/faculty/Kritisrivastava.jpg" class="card-img-top" alt="...">
      <div class="card-body">
          <h5>Er. Kriti Srivastava</h5>
          <h6>Assistant Professor</h6>
          <h5>Specialization</h5>
          <h6>Mechanical Engineering</h6>
          <h5>Research Area</h5>
          <h6>Thermal Engineering</h6>
          <h5>Total Experience</h5>
          <h6>.</h6>
          <h5>Email:</h5>
          <h6>.</h6>
          <h5>Mobile No.:</h5>
          <h6>9454073555</h6>
      </div>
  </div>
    </div>
    <hr>
    <div class="line2">
      <div class="card" style="width: 20rem;">
        <img style="height: 13rem; width: 13rem;" src="https://rmlau.ac.in/FacultyStaff/Photo_22112022021406.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5>Er. Deepak Agarwal</h5>
            <h6>Assistant Professor</h6>
            <h5>Specialization</h5>
            <h6>Mechanical Engineering</h6>
            <h5>Research Area</h5>
            <h6>Micro-Machining, Manufacturing Process, Industrial Engineering</h6>
            <h5>Total Experience</h5>
            <h6>.</h6>
            <h5>Email:</h5>
            <h6>deepagg23me@gmail.com</h6>
            <h5>Mobile No.:</h5>
            <h6>9454766079</h6>
        </div>
    </div>
    <div class="card" style="width: 20rem;">
        <img style="height: 13rem; width: 13rem;" src="https://www.rmlau.ac.in/new/faculty/Shwetamishra.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5>Er. Shweta Mishra</h5>
            <h6>Assistant Professor</h6>
            <h5>Specialization</h5>
            <h6>Mechanical Engineering</h6>
            <h5>Research Area</h5>
            <h6>Thermal Engineering</h6>
            <h5>Total Experience</h5>
            <h6>.</h6>
            <h5>Email:</h5>
            <h6>.</h6>
            <h5>Mobile No.:</h5>
            <h6>9616266721</h6>
        </div>
    </div>
    <div class="card" style="width: 20rem;">
        <img style="height: 13rem; width: 13rem;" src="https://www.rmlau.ac.in/new/faculty/Chandrakantkaithwas.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5>Dr. Chandra Kant Kaithwas</h5>
            <h6>Assistant Professor</h6>
            <h5>Specialization</h5>
            <h6>Mechanical Engineering</h6>
            <h5>Research Area</h5>
            <h6>Thermo-mechanical Processing, Corrosion Engineering, Grain Boundary Engineering, Sodium Ion Batteries</h6>
            <h5>Total Experience</h5>
            <h6>.</h6>
            <h5>Email:</h5>
            <h6>ckkaithwas14@gmail.com</h6>
            <h5>Mobile No.:</h5>
            <h6>9641207241</h6>
        </div>
    </div>
    </div>
</div>
</div>

<app-footer></app-footer>
