<app-header></app-header>
<h3 class="mechanical">Mechanical Engineering</h3>
<div class="parrent">
  <div><app-side-bar></app-side-bar></div>
  <div class="containt">
    <h3 class="header1">Testimonials</h3>
    <ng-container *ngIf="val1 == true" class="main1">
      <div class="hod">
        <div><img
            src="../assets/Dheeraj Image.jpg"
            alt=" picture">
          <h6>Dheeraj Rauniyar</h6>
          <p class="phod">Mechanical Engineering,4th Year</p>
        </div>
        <div>
          <p>IET Institute has been a great contributor to the
            development of my personality. The institution organizes
            various workshops and guest lectures. It has given me immense
            opportunities to participate and organize different events,
            helping me to develop confidence and managerial skills.
            The teachers here are very helping and the institution not only
            focuses on classroom teachings but also provides the students
            with real-time problems and hands-on industry experience with
            project works. I am very thankful to the institution for giving
            students the freedom to think of an idea and test its practical
            application.</p>
        </div>
      </div>
      <br>

      <div class="hod">
        <div><img
            src="https://media.licdn.com/dms/image/C5103AQHagR7EJXj7Nw/profile-displayphoto-shrink_800_800/0/1571128420988?e=1715212800&v=beta&t=WHjjVBkJfcYZjN0R0rP01w7hAvMf2yvGOFr1gUz5SeM"
            alt="picture">
          <h6>Anupriya Yadav</h6>
          <p class="phod">Mechanical Engineering ,4th Year</p>
        </div>
        <div>
          <p>In my opinion, IET Institute is among those colleges to take
            if you are willing to work to improve your own self. Here,
            the faculties and the management are understanding,
            they will guide you to make an informed decision about
            future course of action.It isn’t a piece of cake to follow your
            passion always—there are lots of phases to get through—but if you
            follow your faculties and seniors’ recipe, you’ll come out with the
            knowledge of how to make your passion a priority rather than just saying
            it is. IET made me think about the way I’ve been learning because here,
            studies are perfectly balanced with extra-curricular acts (like inter-college
            tech and cultural fests) to meet overall development of the students.
            I gained much more from the college than I anticipated.</p>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="val2 == true" class="main1">
      <div class="hod">
        <div><img
            src=""
            alt=" picture">
          <h6>Pradmun Sharma</h6>
          <p class="phod">Mechanical Engineering, 4th Year</p>
        </div>
        <div>
          <p>In my opinion, IET Institute is among those colleges to take
            if you are willing to work to improve your own self. Here,
            the faculties and the management are understanding,
            they will guide you to make an informed decision about
            future course of action.It isn’t a piece of cake to follow your
            passion always—there are lots of phases to get through—but if you
            follow your faculties and seniors’ recipe, you’ll come out with the
            knowledge of how to make your passion a priority rather than just saying
            it is. IET made me think about the way I’ve been learning because here,
            studies are perfectly balanced with extra-curricular acts (like inter-college
            tech and cultural fests) to meet overall development of the students.
            I gained much more from the college than I anticipated.</p>
        </div>
      </div>
      <br>

      <div class="hod">
        <div><img
            src="../assets/gulon.jpg"
            alt="picture">
          <h6>Gulsun Kumar</h6>
          <p class="phod">Mechanical Engineering,4th Year</p>
        </div>
        <div>
          <p>IET Institute has been a great contributor to the
            development of my personality. The institution organizes
            various workshops and guest lectures. It has given me immense
            opportunities to participate and organize different events,
            helping me to develop confidence and managerial skills.
            The teachers here are very helping and the institution not only
            focuses on classroom teachings but also provides the students
            with real-time problems and hands-on industry experience with
            project works. I am very thankful to the institution for giving
            students the freedom to think of an idea and test its practical
            application.</p>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="val3 == true" class="main1">
      <div class="hod">
        <div><img
            src="../assets/Aditya Kumar.jpg"
            alt="picture">
          <h6>Aditya Kumar</h6>
          <p class="phod">Mechanical Engineering, 4th Year</p>
        </div>
        <div>
          <p>IET Institute has been a great contributor to the
            development of my personality. The institution organizes
            various workshops and guest lectures. It has given me immense
            opportunities to participate and organize different events,
            helping me to develop confidence and managerial skills.
            The teachers here are very helping and the institution not only
            focuses on classroom teachings but also provides the students
            with real-time problems and hands-on industry experience with
            project works. I am very thankful to the institution for giving
            students the freedom to think of an idea and test its practical
            application.</p>
        </div>
      </div>
      <br>

      <div class="hod">
        <div><img
            src="../assets/rajpratap.jpg"
            alt="picture">
          <h6>Raj Pratap</h6>
          <p class="phod">Mechanical Engineering ,4th Year</p>
        </div>
        <div>
          <p>In my opinion, IET Institute is among those colleges to take
            if you are willing to work to improve your own self. Here,
            the faculties and the management are understanding,
            they will guide you to make an informed decision about
            future course of action.It isn’t a piece of cake to follow your
            passion always—there are lots of phases to get through—but if you
            follow your faculties and seniors’ recipe, you’ll come out with the
            knowledge of how to make your passion a priority rather than just saying
            it is. IET made me think about the way I’ve been learning because here,
            studies are perfectly balanced with extra-curricular acts (like inter-college
            tech and cultural fests) to meet overall development of the students.
            I gained much more from the college than I anticipated.</p>
        </div>
      </div>
    </ng-container>
    <br>
    <br>
    <div class="btn1">
      <button class="btn btn-warning" style="margin-right: 1rem;" (click)="Class()">1</button>
      <button class="btn btn-warning" style="margin-right: 1rem;" (click)="lab()">2</button>
      <button class="btn btn-warning" (click)="Excilence()">3</button>
    </div>
  </div>
</div>



<app-footer></app-footer>