<nav class="navbar navbar-expand-lg navbar-custom">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="https://rmlau.ac.in/images/logo_red_s.png" alt="logo">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <div class="d-flex flex-column flex-lg-row w-100 align-items-center">
        <div class="college-name text-center text-lg-start mb-3 mb-lg-0">
          <h3 style="font-weight: bold;" class="mb-1">Institute of Engineering & Technology, Ayodhya.</h3>
          <h4 style="font-weight: bold; color: rgb(42, 39, 39);" class="mb-1">अभियांत्रिकी एवं प्रौद्योगिकी संस्थान, अयोध्या</h4>
          <h5 style="color: rgb(17, 17, 17); font-weight: 500;">An Autonomous Constituent Institute of Dr. Ram Manohar Lohia Avadh University Uttar Pradesh, Ayodhya.</h5>
        </div>
        <ul style="gap: 10px;" class="navbar-nav ms-auto d-flex flex-row flex-wrap justify-content-center">
          <li  class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">WHY IET</a>
            <ul style="border-radius: 0;" class="dropdown-menu">
              <li><a class="dropdown-item" href="https://www.rmlau.ac.in/new/IET.aspx">IET at a Glance</a></li>
              <li><a class="dropdown-item" href="https://www.rmlau.ac.in/new/NAAC.aspx">Accreditations & Ranking</a></li>
              <li><a class="dropdown-item" href="https://www.rmlau.ac.in/new/IET.aspx">Life at IET</a></li>
              <li><a class="dropdown-item" href="https://www.rmlau.ac.in/new/VissionMission.aspx">Techonology Business Inculbator</a></li>
              <li><a class="dropdown-item" href="https://www.rmlau.ac.in/new/VissionMission.aspx">Career Guidance</a></li>
              <li><a class="dropdown-item" href="https://www.rmlau.ac.in/new/VissionMission.aspx">Student Rewards</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">ACADEMICS</a>
            <ul style="border-radius: 0;" class="dropdown-menu">
              <li><a class="dropdown-item" href="https://www.rmlau.ac.in/new/IET.aspx">Overview</a></li>
              <li><a class="dropdown-item" href="https://www.rmlau.ac.in/new/syllabus.aspx#">Advisory Board</a></li>
              <li><a class="dropdown-item" href="https://www.rmlau.ac.in/new/AcademicCalender.aspx">Academic Calender</a></li>
              <li><a class="dropdown-item" href="https://www.rmlau.ac.in/new/News.aspx">Notice</a></li>
              <li><a class="dropdown-item" href="https://www.rmlau.ac.in/new/syllabus.aspx">Syllabus</a></li>
              <li><a class="dropdown-item" href="https://www.rmlau.ac.in/new/NAAC.aspx">NAAC</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-white" href="https://www.rmlau.ac.in/new/IET.aspx" role="button" data-bs-toggle="dropdown" aria-expanded="false">COURSES</a>
            <ul style="border-radius: 0;" class="dropdown-menu">
              <li><a class="dropdown-item" href="https://www.rmlau.ac.in/new/faculty_AppliedScienceHumanities.aspx">APPLIED SCIENCE AND HUMANITIS</a></li>
              <li><a class="dropdown-item" href="https://www.rmlau.ac.in/new/DeptElectronicsCommunication.aspx">E & C ENGINEERING</a></li>
              <li><a class="dropdown-item" href="https://www.rmlau.ac.in/new/DeptComputerScience.aspx">COMPUTER SCIENCE</a></li>
              <li><a class="dropdown-item" href="https://www.rmlau.ac.in/new/DeptMechanicalEngg.aspx">MECHANICAL ENGINEERING</a></li>
              <li><a class="dropdown-item" href="https://www.rmlau.ac.in/new/DeptCivilEngg.aspx">CIVIL ENGINEERING</a></li>
              <li><a class="dropdown-item" href="https://www.rmlau.ac.in/new/DeptElecEngg.aspx">ELECTRICAL ENGINEERING</a></li>
              <li><a class="dropdown-item" href="https://www.rmlau.ac.in/new/Dept_IT.aspx">INFORMATION TECHNOLOGY</a></li>
              <li><a class="dropdown-item" href="https://www.rmlau.ac.in/new/DeptMCA.aspx">MCA</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-white" href="https://www.rmlauentrance.in/entrance/index.aspx" role="button" data-bs-toggle="dropdown" aria-expanded="false">ADMISSION</a>
            <ul style="border-radius: 0;" class="dropdown-menu">
              <li><a class="dropdown-item" href="https://www.rmlauentrance.in/entrance/index.aspx">Registration Form</a></li>
              <li><a class="dropdown-item" href="https://www.rmlauentrance.in/entrance/index.aspx">Admission Procedure</a></li>
              <li><a class="dropdown-item" href="https://www.rmlauentrance.in/entrance/index.aspx">Councling</a></li>
              <li><a class="dropdown-item" href="https://www.rmlau.ac.in/new/CoursesNew.aspx">Fee Structure</a></li>
              <li><a class="dropdown-item" href="https://www.rmlau.ac.in/new/AntiRagging.aspx">Anti-Ragging</a></li>
              <li><a class="dropdown-item" href="https://www.rmlau.ac.in/new/NAAC.aspx">AICTE Approvals</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="https://www.rmlau.ac.in/new/placementCell.aspx">PLACEMENT</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="https://www.rmlau.ac.in/new/News.aspx">HAPPENING</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-white" href="https://www.rmlau.ac.in/new/DeanOfFaculty.aspx" role="button" data-bs-toggle="dropdown" aria-expanded="false">DIRECTOR SW</a>
            <ul style="border-radius: 0;" class="dropdown-menu">
              <li><a class="dropdown-item" href="https://www.rmlau.ac.in/new/IET.aspx">Message of Director</a></li>
              <li><a class="dropdown-item" href="https://www.rmlau.ac.in/new/IET.aspx">Hostel</a></li>
              <li><a class="dropdown-item" href="https://scholarship.up.gov.in/">Scholership</a></li>
              <li><a class="dropdown-item" href="https://www.rmlau.ac.in/new/RightToInformation.aspx">Student Discipline Policy</a></li>
              <li><a class="dropdown-item" href="https://www.rmlau.ac.in/new/AntiRagging.aspx">Anti-Ragging</a></li>
              <li><a class="dropdown-item" href="https://www.rmlau.ac.in/new/NAAC.aspx">AICTE Approvals</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
