<app-header></app-header>
<h3 class="it">Mechanical Engineering</h3>
<div class="parrent">
  <div><app-side-bar></app-side-bar></div>
  <div class="containt">
    <h3 class="header1">Academic Activities</h3>
    <p>
      Our college promotes academic excellence through a variety of initiatives, including advanced teaching methods,
      research symposiums, industry partnerships, and student-driven conferences. These initiatives aim to enhance the
      learning experience, encourage critical thinking, and prepare students for real-world challenges, ensuring a
      comprehensive and vibrant academic environment.</p>
    <div class="imges">
      <img class="ached" src="https://www.rmlau.ac.in/PhotoGallery/Photo_5088_011223102851.jpeg" alt="achedmic">
      <img class="ached" src="https://www.rmlau.ac.in/PhotoGallery/Photo_9923_011223102803.jpeg" alt="achedmic">
      <img class="ached" src="https://www.rmlau.ac.in/PhotoGallery/Photo_2949_011223102732.jpeg" alt="achedmic">
      <img class="ached" src="https://www.rmlau.ac.in/PhotoGallery/Photo_1095_011223102935.jpeg" alt="achedmic">
    </div>
  </div>
</div>



<app-footer></app-footer>