<app-header></app-header>
<h3 class="mechanical">Mechanical Engineering</h3>
<div class="parrent">
  <div><app-side-bar></app-side-bar></div>
  <div class="containt">
    <h3 class="header1">Gallery</h3>
    <div img1>
      <img src="https://www.rmlau.ac.in/PhotoGallery/Photo_1095_011223102935.jpeg" alt="">
      <img src="https://www.rmlau.ac.in/PhotoGallery/Photo_9923_011223102803.jpeg" alt="">
      <img src="https://www.rmlau.ac.in/PhotoGallery/Photo_0638_011223102803.jpeg" alt="">
    </div>
    <br>
    <div img1>
      <img src="https://www.rmlau.ac.in/PhotoGallery/Photo_2949_011223102732.jpeg" alt="">
      <img src="https://www.rmlau.ac.in/PhotoGallery/Photo_8033_011223102851.jpeg" alt="">
      <img src="https://www.rmlau.ac.in/PhotoGallery/Photo_7739_030321025707.jpg" alt="">
    </div>
    <div img1>
      <img src="https://www.rmlau.ac.in/PhotoGallery/Photo_6134_110723055433.jpg" alt="">
      <img src="https://www.rmlau.ac.in/PhotoGallery/Photo_4127_110723060522.jpg" alt="">
      <img src="http://rmlau.ac.in/images/iet.JPG" alt="">
    </div>


</div>
</div>



<app-footer></app-footer>
