

<div class="main">
  <ul class="list">
    <li><a routerLink="" >Overviews</a></li>
    <hr>
    <li><a (click)="announc()">Anouncements</a></li>
    <hr>
    <li><a (click)="about()">About</a></li>
    <hr>
    <li><a (click)="HoD()">HoD's Message</a></li>
    <hr>
    <li><a (click)="Courses()">Courses</a></li>
    <hr>
    <li><a (click)="Faculty()">Faculty & Staff</a></li>
    <hr>
    <li><a (click)="Infrastructure()">Infrastructure</a></li>
    <hr>
    <li><a (click)="achievement()">Achievments</a></li>
    <hr>
    <li><a (click)="acedmic()">Academic Activities</a></li>
    <hr>
    <li><a (click)="testimonials()">Testimonials</a></li>
    <hr>
    <li><a (click)="paper()">Exam-Paper</a></li>
    <hr>
    <li><a (click)="important()">Important Links</a></li>
    <hr>
    <li><a (click)="gallary()">Gallery</a></li>
    <hr>
    <li><a href="">Happenings</a></li>
    <hr>
    <li><a href="">Research</a></li>
  </ul>
</div>

