<app-header></app-header>
<h3 class="mechanical">Mechanical Engineering</h3>
<div class="parrent">
  <div><app-side-bar></app-side-bar></div>
  <div class="containt">
    <h3 class="header1">HoD's Message</h3>
    <div class="hod">
      <div><img
          src="../assets/HOD.jpg"
          alt="Hod picture">
        <h6 style="font-size: 15px;">Dr. Dinesh Kumar Rao</h6>
        <p class="phod">Associate Professor & Head</p>
      </div>
      <div>
        <p>Mechanical Engineering is the backbone of industrial progress, requiring innovation, precision, and timely
          solutions. The demand for professionals equipped with robust knowledge and skills in mechanical systems,
          materials, and processes led to the establishment of a formal UG level course in Mechanical Engineering. The
          aim of the department is to become a center of excellence in the field of Mechanical Engineering and related
          research, producing professionals who become leaders in innovation, entrepreneurship, and creativity in the
          engineering sector.</p>
      </div>
    </div>
  </div>
</div>



<app-footer></app-footer>