<app-header></app-header>
<h3 class="mechanical">Mechanical Engineering</h3>
<div class="parrent">
  <div><app-side-bar></app-side-bar></div>
  <div class="containt">
    <h3 class="header1">Achievements</h3>
    <div class="about">
      <div class="hod">
        <div class="vision">
          <h5>Faculty Achievements:</h5>
          <ul>
            <li><p>Research Excellence: Dr. RMLAU Ayodhya, a prominent member of the Mechanical Engineering faculty, has consistently demonstrated research excellence. Their recent publication in [Reputable Journal] on [Topic] has garnered attention for its innovative approach and contributions to the field.</p></li>
            <li><p>Grant Acquisition: Under the leadership of [Another Faculty Name], the Mechanical Engineering department secured a substantial research grant from [Funding Agency]. This grant will support ongoing research projects focused on [Research Area], showcasing the department's commitment to cutting-edge research.</p></li>
            <li><p>Industry Collaboration: The Mechanical Engineering faculty, led by [Faculty Name], has successfully established collaborative ties with [Industry Partner]. This partnership aims to bridge the gap between academia and industry, providing students with valuable insights and potential internship opportunities.</p></li>
        </ul>
        </div>
        <div class="mission"><h5>Student Achievements:</h5>
          <ul>
              <li><p>Design Competition Champions: A team of Mechanical Engineering students from our college emerged as champions in the [Name of the Design Competition]. Their innovative design for [Project Description] showcased not only their technical skills but also their ability to address real-world engineering challenges.</p></li>
              <li><p>Internship Placements: Several Mechanical Engineering students secured coveted internship placements with leading engineering firms such as [Company Name]. This success highlights the practical skills and industry readiness instilled in our students through the Mechanical Engineering curriculum.</p></li>
              <li><p>Conference Presentations: Students actively participated in national conferences, presenting their research findings. Notably, [Student Name] received accolades for their presentation on [Topic] at the [Conference Name], bringing recognition to our Mechanical Engineering department.</p></li>
          </ul>
      </div>
      </div>
</div>
</div>
</div>


<app-footer></app-footer>
