<app-header></app-header>
<h3  class="mechanical">Mechanical Engineering</h3>
<div class="parrent">
  <div><app-side-bar></app-side-bar></div>
  <div class="containt">
    <h3 class="header1">About</h3>
    <div class="about">
      <div class="hod">
        <div class="vision">
          <h5>Vision</h5>
          <p>To achieve excellence in the field of Mechanical Engineering
            and create competent professionals for
            the benefit of the world community.</p>
        </div>
        <div class="mission">
          <h5>Mission</h5>
          <ul>
            <li>
              <p>M1: To integrate quality education, values, and skills in the field of Mechanical Engineering through
                an outcome-based teaching and learning process.</p>
            </li>
            <li>
              <p>M2: To undertake research for the development of sustainable engineering solutions for real-world
                problems of society and industry.</p>
            </li>
            <li>
              <p>M3: To foster an intellectual, innovative, and entrepreneurial environment to develop engineering
                leaders.</p>
            </li>
            <li>
              <p>M4: To create a culture of collaboration and support among teachers and students for sharing ideas and
                knowledge in the field of Mechanical Engineering.</p>
            </li>
          </ul>
        </div>
      </div>
      <div class="imges">
        <img src="https://www.kiet.edu/kiet/assets/frontend/img/im-pic-1.jpg" alt="class">
      </div>
      <div class="twoImg">
        <div class="img1"><img src="https://www.rmlau.ac.in/PhotoGallery/Photo_0638_011223102803.jpeg" alt=""></div>
        <div class="img2"><img src="https://www.rmlau.ac.in/PhotoGallery/Photo_5088_011223102851.jpeg" alt=""></div>
      </div>
    </div>
    <div class="conttaint">
      <h4>Program Educational Objectives (PEOs)</h4>
      After few years of graduation, the graduates of Mechanical Engineering will be able to-
      <ol>
        <li>Apply the acquired knowledge of Science, Mathematics, and Mechanical Engineering to pursue successful
          careers in industry, academia, and public service.</li>
        <li>Serve society and industry with engineering tools, management principles, and cutting-edge research for
          sustainable development in a collaborative mode.</li>
        <li>Exhibit professionalism by infusing leadership qualities, team spirit, effective communication skills, high
          ethical values, and empathy for the needs of society.</li>
        <li>Show commitment and engage in lifelong learning to enhance their professional and personal capabilities in
          the field of Mechanical Engineering.</li>
      </ol>
    </div>

  </div>
</div>



<app-footer></app-footer>